* {
    margin: 0%;
    padding: 0%;
    background-color: #e1e3f7;
}

h1 {
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    margin: auto;
   
    padding: 30px;
    margin-bottom: 20px;
    background-color: black;
}

#cell {
    border: 3px double rgb(41, 41, 41);
    cursor: pointer;
    color: black;
    width: 200px;
    height: 180px;
    box-shadow: 0 0 0 3px;
    font-size: 70px;

}

#cellContainer {
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 200px;
    margin: auto;
}

#gameContainer {
    font-family: cursive;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    margin: auto;
}



.hide {
    display: none; 
    font-size: larger;
    margin-left: 30px;
}

h4 {
    color: rgb(1, 5, 9);
    text-align: justify;
}

#restart {
    border: 5px rgb(41, 41, 41);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    border-style: inset;
    margin-top: 15px;
    color: rgb(12, 12, 12);
    cursor: pointer;
    padding: 8px;
    margin-bottom: 5%;
}

#try-again {
    border: 5px rgb(41, 41, 41);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    border-style: outset;
    margin-top: 15px;
    color: rgb(12, 12, 12);
    cursor: pointer;
    padding: 8px;
    margin-bottom: 5%;
}

#player {
    
    color: black;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    margin-top: 20%;
  
}

p {
    text-decoration: underline;
    margin-bottom: 20px;

}

input {
    padding: 6px;
    border: solid black;
    margin-top: 10px;
    color: blackrgb(244, 189, 189);
    font-size: large;
   
}

#form {
   
    width: 30vw;
    height: 25vh;
   
}

#name-display{
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}


#welcome-image {
    background-image: url(./edited/f1.jpg);
    width: 150vw;
    height: 100vh;
    cursor: pointer;
}

#Enter{
    border: 3px black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-style: inset;
    margin-top: 6px;
    margin-left: 100px;
    color: blackwhitesmoke;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 20%;
}


#gameStatus {
    font-size: 30px;

}
.reset-style{
    all: revert;
}

#score-display{
    display: flex; 
    position: absolute;
    flex-direction:column;
    color:rgb(12, 12, 12);
    text-align: justify;
    margin-bottom: 10px;
   
}

